{% extends "base.twig" %} {% block title %}首頁{% endblock title %} {% block
head %}
{{ parent() }}
<style type="text/tailwindcss">
    @layer components {
    }
</style>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        $(".disabled-page").on("click", (e) => {
            if (e) e.preventDefault();

        });
    });
</script>
{% endblock head %} {% block main %}
<div class="grid h-screen place-items-center">
    <div class="rounded-xl border-slate-700 bg-slate-200 p-4">
        <ul class="home w-fit">
            <li><a class="disabled-page" href="/recognize">語音辨識</a></li>
            <li><a href="/upload">測資上傳</a></li>
            <li><a href="/manualner">標示標籤</a></li>
            <li><a href="/admin">管理頁面</a></li>
        </ul>
    </div>
</div>

{% endblock main %} {% block footer %} {% endblock footer %}
